<div class="row">
   
    
    <button  id="1" type="button" class="btn btn-sm btn-primary product-btn " style="background-color: rgb(117, 111, 111) ; height:30px"  (click)="Filter()" >Filter by price </button>
    
    <div class="col-sm-3">
        
    <select id="categories"  (change) ="Filterbycategory()"  >
    
    <option>All</option>
    <option>Meat</option>
    <option>Vegetables</option>
    <option>Milk</option>
    <option>Chocolate</option>
    <option>Drinks</option>
    <option>Grain</option>
    <option>CookingOil</option>
    <option>Chocolate</option>
    <option>Soap</option>
    
    
    </select>
    
    
    </div>
    
    
    <div>
    
    
    
    <div class="row">
        <div class="col-md-4" *ngFor="let product of productlist">
            <app-product-item [productitem]="product"></app-product-item>
        </div>
    </div>
    
    </div>
    
    </div>