

   .row-content{
     margin : 0px 30px  auto;
     padding : 0px 0px 50px 0px;
     border-bottom:1px ridge;
     min-height : 200px;
     text-align: left;
     align-items:center;
    
    }
    

   
    
   
    .carousel-item {
        
        height: 300px;
        max-height: 250px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      
    }
    
  
     .navbar-dark{
    
    background-color :rgb(185, 185, 185);
    
    
    
    }
  
  .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
    }
    
    
    #carouselButton {
        right:0px;
        position: absolute;
        bottom: 0px;
        z-index: 1;
    }

    .li{

        margin:10px 10px;
    }
   

    #hat {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%,-50%);
        z-index: 100;
      }
    
  

      .badge  {
        border-radius: 0;
        font-size: 13px;
        line-height: 1;
        padding: .375rem .5625rem;
        font-weight: normal
        
        
    }
    .badge-outline-primary {
        color: #ff0000;
        border: 1px solid #ff0000;
      
    }
    
   
    .badge.badge-pill {
        border-radius: 10rem;
        font-size: 20px;
    }
      