<!doctype html>
<html lang="en">
 
 


  <body>
   

    
    <div class="contact py-5" >
        <div class="container"  >
            <div class="row">
                <div class=" col-sm-9 col-lg-8 mx-auto">
                    <div class="card" style="width: 700px; padding-top: 40px;">
                        <div class="card-body">
                            <div class="row pb-3">
                                <div class="col-sm-12">
                                    <div class="head text-center text-white py-3">
                                        <h3>Contact Us</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-5">
                                <div class="col-sm-5">
                                    <div class="row px-3">
                                        <div class="col-sm-2">
                                            <i class="fas fa-phone-volume"></i>
                                        </div>
                                        <div class="col-sm-10">
                                      <h6 class="font-weight-bold pt-2">Give us a ring</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-1 col-sm-6">
                                    <div class="row px-3">
                                        <div class="col-sm-2">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="col-sm-10">
                                      <h6 class="font-weight-bold pt-2">Find us at the office</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="offset-1 col-sm-4">
                                    <p>Head Office <br>
                                        +40 762 321 762 <br>
                                        Mon - Fri, 8:00-18:00
                                    </p>
                                </div>
                                <div class="offset-2 col-sm-5 pl-4">
                                    <p>Bld FutureBld, nr.10 <br>
                                        7652 Beirut, <br>
                                        Lebanon
                                    </p>
                                </div>
                            </div>

                            <div class="form p-3">
                                <div class="row my-5">
                                    <div class="col-sm-6">
                                        <input  id="setname" type="text" class="effect-1" placeholder="Full Name">
                                        <span class="focus-border"></span>
                                    </div>

                                    <div class="col-sm-6">
                                        <input  id="setemail" type="email" class="effect-1" placeholder="Your Email">
                                        <span class="focus-border"></span>
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col-sm-12">
                                        <input  id="setext" type="text" class="effect-1" placeholder="Your Message">
                                        <span class="focus-border"></span>
                                    </div>
                                </div>

                                <div class="row pt-3">
                                    <div class="col-sm-6">
                                       
                                    </div>
                                    <div class="offset-2 col-sm-4">
                                        <button class="btn1" (click)="Sendmessage()">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
  
</body>
</html>